@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --color-standartBlue: rgb(0, 95, 180);
    --color-standartOrange: rgb(254, 102, 3);
}

body * {
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px){
    html{
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px){
    html{
        font-size: 12px;
    }
}

@media only screen and (max-width: 430px){
    html{
        font-size: 10px;
    }
}

/* CABEÇALHO */
nav{
    display: flex;

    font-weight: bold;

    justify-content: space-between;
    align-items: center;

    padding: 5px 20px;
}

.logo{
    min-width: 100px;
    max-width: 130px;
    width: 15vw;
}

ul{
    display: flex;

    list-style: none;
    gap: 1vw;
}

nav ul a{
    color: var(--color-standartBlue);
    
    font-size: 1em;
    text-decoration: none;

    transition-duration: 0.3s;

    padding: 5px;
    border-radius: 5px;
}

nav ul a:hover{
    background-color: var(--color-standartBlue);
    color: white;
}

.navButton{
    background-color: var(--color-standartOrange);
    color: white;

    font-size: 1em;
    font-weight: bold;

    transition-duration: 0.3s;

    padding: 7px;
    border: 0px solid black;
    border-radius: 7px;
}

.navButton:hover{
    font-size: 1.2em;
}

/* MAIN COMPONENTS */
#bannerImg{
    width: 100vw;
    margin: auto;
}

section#about{
    text-align: justify;
    margin: 20px 20vw;
}

section#about h1{
    color: var(--color-standartBlue);
    font-size: 1.2em;
}

h1.bigTitle{
    background-color: var(--color-standartBlue);
    color: white;

    font-size: 1.5em;
    text-align: center;

    padding: 1em;
}

/* FIRST SECTION */
#ourAnimals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px 5vw;
}

.bxAnimalsAdoption{
    width: 100%;
    height: 100%;
    background-color: var(--color-standartBlue);
    transition-duration: 0.35s;
    border-radius: 5px;
}

.bxAnimalsLowOpacity{
    width: 40vw;
    max-width: 270px;
    height: 45vw;
    max-height: 300px;
    background-color: var(--color-standartOrange);
    border-radius: 5px;
}

.bxAnimalsLowOpacity:hover > .bxAnimalsAdoption{
    opacity: 0.6;
}

.imgAnimalsAdoption{
    width: 100%;
    height: 80%;

    object-fit: cover;
    object-position: center;

    border-radius: 5px 5px 0px 0px;
    margin: 0px;
}

.spcNameAnimalsAdoption{
    width: 100%;
    height: 20%;
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: -2.5%;
}

.nameAnimalsAdoption{
    color: white;

    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

/* SECOND SECTION */
section#supportProject{
    background-color: black;

    justify-content: center;
}

#supportProject > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 18em;

    padding: 20px 10vw;
}

#support01{
    background-image: url(../images/downBanner01.png);
    background-position: 50% 40%;
    background-size: cover;
}

#support02{
    background-image: url(../images/downBanner02.png);
    background-position: 50% 55%;
    background-size: cover;
}

#supportProject > div > p{
    color: white;

    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#supportProject > div button{
    background-color: var(--color-standartBlue);
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);

    font-size: 1.1em;
    font-weight: bold;
    transition-duration: 0.35s;

    padding: 5px 10px;
    border: 0px solid black;
    border-radius: 5px;
}

#supportProject > div button:hover{
    font-size: 1.3em;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;

    padding: 2em;
}